<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
            <link rel="stylesheet" href="@{/public/style.css}"/>
            <title>Main Page</title>

    </head>
    <body>


        <div th:replace="fragments/layout :: navbar"></div>


        <!-- JUMBOTRON -->
        <div class="jumbotron text-center">
            <div class="container">
                <h1  th:text="'Welcome To WorkPlace, ' + ${username}">Welcome To WorkPlace</h1>
                <p>The best place to meet and connect with people</p>
            </div>
        </div>
    
        
        <div>
          <a href="/logout">LOGOUT</a>  
        </div>
    
    
    <!-- FriendRequest -->
    <div id="friend-request">
        <h2>FRIEND REQUESTS</h2>           
        <ul>
            <li th:each="req : ${requests}">
                <span th:text="${req.name}"></span>
                <span th:text="${req.title}"></span>
                <form th:action="@{/accept}" method="POST">
                    <button type="submit" th:value="${req.username}" name="username" class="btn btn-success btn-sm">Accept</button>                      
                </form>
                <form th:action="@{/decline}" method="POST">
                    <button type="submit" th:value="${req.username}" name="username" class="btn btn-danger btn-sm">Decline</button>   
                </form> 
            </li>
        </ul>
    </div>
    
    <div>
        <h2>CONNECTIONS</h2>
        <ul th:each="connection : ${connections}">
            <li th:text="${connection.name}"></li>
            <li th:text="${connection.title}"></li>
            <form th:action="@{/remove}" method="POST">
                <button type="submit" th:value="${connection.username}" name="username" class="btn btn-danger btn-sm">Remove</button>   
            </form> 
        </ul>
    </div>
        
                      
    <!-- USERCARD-->
    <div>
        <h2 >MY PROFILE</h2>
        <div th:replace="fragments/layout :: userCard(name=${username},title=${title},picture=${picture})"></div>    
    </div>
        

    <!-- ADD PICTURE-->
    <div>
        <form th:action="@{/picture}" method="POST" enctype="multipart/form-data">
            <h2>Choose a profile picture</h2>
            <input type="file" name="file" />
            <input type="submit" value="Send!"/>
        </form>
    </div>

<!-- SKILLS-->
<!-- korosta taidoista top kolme-->      
    <div>
        <h2 >SKILLS</h2>  
        <ul>
           <li th:each="skill : ${skills}">
                   <span th:text="${skill.name}">Skills</span> <span th:text="${skill.likes}">Likes</span> 
           </li>
        </ul>
        <br>   
    </div>

 

   
    <div>
        <form th:action="@{/skill}" method="POST">
            <p>Add Skill: <input type="text" name="name"></input></p>
            <input type="submit" value="Add"></input>
        </form>
    </div>

    <!-- TITLE-->
    <div>
        <h2 >Title</h2>  
        <form th:action="@{/title}" method="POST">
            <p>Add Title <input type="text" name="title"></input></p>
            <input type="submit" value="Add"></input>
        </form>                 
    </div>
    
    <br>
    <br>
        
    <!-- MESSAGE-->
    <h2>POST HERE</h2>
    <div>
        <form th:action="@{/messages}" method="POST">
            <textarea type="text" rows="4" cols="50" name="message"></textarea>
            <button type="submit" class="btn btn-success"> Submit </button>
        </form>    
    </div>


                                    


</body>
</html>



