<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
            <link rel="stylesheet" th:href="@{/public/style.css}"/>
            <title>Main Page</title>

    </head>
    <body>


        <div th:replace="fragments/layout :: navbar"></div>


        <!-- JUMBOTRON -->
        <div class="jumbotron text-center">
            <div class="container">
                <h1  th:text="'Welcome To WorkPlace, ' + ${username}">Welcome To WorkPlace</h1>
                <p>The best place to meet and connect with people</p>
            </div>
        </div>



        <!-- USERCARD-->
        <div th:replace="fragments/layout :: userCard(name=${username},title=${title},picture=${picture})"></div>
        <br>
            <br>



                <!-- PICTURE-->
                <form th:action="@{/picture}" method="POST" enctype="multipart/form-data">
                    <h2>Choose a profile picture</h2>
                    <input type="file" name="file" />
                    <input type="submit" value="Send!"/>
                </form>

                <br>
                    <br>

                        <!-- SKILLS-->
                        <!-- korosta taidoista top kolme-->      
                        <h2 >SKILLS</h2>  
                        <ul>
                            <li th:each="skill : ${skills}">
                                <form th:action="@{/}" method="POST">
                                    <span th:text="${skill.name}">Skills</span> <span th:text="${skill.likes}">Likes</span> 
                                    <button name="id" type="submit" th:value="${skill.id}">LIKE!</button>
                                </form>    
                            </li>
                        </ul>
                        <br>

                            <form th:action="@{/skill}" method="POST">
                                <p>Add Skill: <input type="text" name="name"></input></p>
                                <input type="submit" value="Add"></input>
                            </form>

                            <br>
                                <br>
                                    <!-- TITLE-->
                                    <form th:action="@{/title}" method="POST">
                                        <p>Add Title <input type="text" name="title"></input></p>
                                        <input type="submit" value="Add"></input>
                                    </form> 


                                    </body>
                                    </html>



