<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/public/style.css}"/>
    <title>User</title>

</head>
    
<body>

<div th:replace="fragments/layout :: navbar"></div>

    <div>
        <h2 th:text="${username}">MY PROFILE</h2>
        <div th:replace="fragments/layout :: userCard(name=${username},title=${title},picture=${picture})"></div>    
    </div>

    <!-- SKILLS-->
<!-- korosta taidoista top kolme-->      
    <div>
        <h2 >SKILLS</h2>  
        <ul>
           <li th:each="skill : ${skills}">
               <form th:action="@{/}" method="POST">
                   <span th:text="${skill.name}">Skills</span> <span th:text="${skill.likes}">Likes</span> 
                   <button name="id" type="submit" th:value="${skill.id}">LIKE!</button>
               </form>    
           </li>
        </ul>
        <br>   
    </div>


</body>
</html>
