<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/public/style.css}"/>
    <title>User</title>

</head>
    
<body>

<div th:replace="fragments/layout :: navbar"></div>

<div th:replace="fragments/layout :: userCard(name=${username},title=${title},picture=${picture})"></div>


</body>
</html>
